.collection-card-div {
    position: relative;
    width: 56.41px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 40px;
}

.collection-card-img {
    width: 56.41px;
    height: 80px;
}

.collection-card-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 900;
    color: black;
    font-Family: Ponomar, sans-serif;
}

.reserved-card-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 800;
    color: White;
    font-family: Ponomar, sans-serif;
}