.development-card{
    width: 132px;
    height: 187px;
    margin-left: 30px;
}
.noble-card{
    width: 132px;
    height: 132px;
    margin-left: 30px;
    align-self: center;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}

.cards-row {
    margin-left: 20px;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.board-tokens-section {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
}

/*
.select-tokens-button {
    width: 150px;
    height: 50px;
    font-family: Inknut Antiqua;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 100px;
}
    */

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.card-pop-up {
    position: fixed;
    top: 47%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the div */
    width: 25vh;
    height: auto;
    padding: 10vh;
}

.card-pop-up-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 45vh;
    height: 55vh;
    background-color: #27394D;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.x-button {
    font-family: 'Trebuchet MS', bold;
    font-size: 7vh;
    color: white;
    align-self: flex-end; /* Aligns the button to the right */
    cursor: pointer; /* Makes it clickable */
    margin-right: 2vh;
    padding: 1vh;
    cursor: pointer;
    z-index: 10000;
}

.play-card-button {
    color: #27394D;
    background-color: #E8E8E8;
    width: auto;
    padding: 2%;
    font-size: 1.5vw;
    font-family: "Fondamento", cursive;
    margin-top: auto;
    margin-bottom: 3vh;
    cursor: pointer;
    z-index: 10000;
}