.development-card{
    width: 132px;
    height: 187px;
    margin-left: 30px;
}
.noble-card{
    width: 132px;
    height: 132px;
    margin-left: 30px;
    align-self: center;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}

.cards-row {
    margin-left: 20px;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.board-tokens-section {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
}

/*
.select-tokens-button {
    width: 150px;
    height: 50px;
    font-family: Inknut Antiqua;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 100px;
}
    */

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}