.development-card {
    width: 14.85vh;
    height: 21.038vh;
    margin-left: 2vh;
}

.noble-card {
    width: 14.85vh;
    height: 14.85vh;
    margin-left: 5vh;
    align-self: center;
    padding-top: 7vh;
    padding-bottom: 5vh;
}

.cards-row {
    margin-top: 5vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* min-width: 650px; */
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.token-div {
    position: relative;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.token-img {
    width: 10vh;
    height: 10vh;
}

.token-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    font-weight: 900;
    color: black;
    font-family: Ponomar, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.turn-tracker {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: #253047;
    color: #F7D774;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.4);
    z-index: 999;
    font-family: "Fondamento", cursive;
}

.turn-tracker-pfp {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    object-fit: cover;
}

.turn-tracker-text {
    font-size: 1.4rem;
}