body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.main-container {
  font-family: "Fondamento", sans-serif;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
  margin-top: 100px;
}

.main-box {
  background-color: #E9E9E9;
  padding: 2em 2.5em;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  font-family: "Inknut Antiqua", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  color: #27394D;
  text-align: center;
}

.main-box h2 {
  font-size: 1.5em;
  margin-top: 1vh;
  margin-bottom: 0px;
  color: #253047;
}

.main-box ul {
  list-style: none;
  padding: 0;
  width: 70%;
  font-size: 1.25em;
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid #27394D;
  border-radius: 8px;
  background-color: #fff;
  margin: 0px;
  margin-bottom: 1em;
}

.main-box li {
  border-bottom: 1px solid #27394D;
  margin: 0px;
}

.main-box li:last-child {
  border-bottom: none;
}

.ready-button {
  width: 18vw;
  height: 7vh;
  min-width: 180px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Inknut Antiqua", serif;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5em 0;
  border-width: 2px;
  border-color: #FEDB5F;
  border-style: solid;
  background-color: #c1c1c1;
}

.ready-button.ready {
  background-color: #ccc;
  color: #27394D;
}

.ready-button.not-ready {
  background-color: #FEDB5F;
  color: #27394D;
}

.ready-button:hover {
  background-color: #e6c55d;
}

.status-message {
  margin-top: 1em;
  color: red;
  font-size: 1em;
  text-align: center;
}

.lobby-username {
  font-size: 1.1em;
  color: #253047;
  margin: 0px;
}

.lobby-code {
  font-size: 1.2em;
  color: #253047;
  margin: 0px;
}

.lobby-username strong {
  font-weight: 700;
}

.lobby-code strong {
  font-weight: 700;
  font-size: 1.7em;
}


